@media (max-width: 992px) {
  .nav-options-S {
    margin: 0;
    position: absolute;
    top: 4.4rem;
    right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 99%;
    background-color: #fff;
    opacity: 01;
    z-index: 10000;
    padding-bottom: 3%;
    border-radius: 5px;
  }
  .nav-options-S a {
    width: 100%;
    margin: auto;
    color: #101001;
    padding: 0.2rem 2rem;
    border-bottom: 1px solid #ffffff1a;
  }
}
@media (min-width:993px){
    .my-navbarS{
        display: none;
    }
}
