.testimonial {
  min-height: 85vh;
  background-color: #232323;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25%;
}
.testimonial p {
  color: #aaa;
  font-size: 1.5rem;
  line-height: 2;
}
#carouselExampleSlidesOnly {
  display: flex;
  align-items: center;
  justify-content: center;
}
.one-testimonial {
  text-align: center;
}
.t-des{
    margin-top: -2.5%;
}
@media (max-width:992px){
    .testimonial{
        padding: 0 8%;
    }
    .testimonial p{
      font-size: 1.2rem;
    }
}
